span {
    display: inline-block;
    padding: 20px;
    margin: 20px;
}
div {
    /* display: inline; */
    border: 2px solid crimson;
    margin: 20px;
}
p.error {
    color: red;
}
p.success {
    color: #66971c;
}
p.class.feedback {
    border: 1px dashed #66971c;
}