/* span {
    display: inline-block;
    padding: 20px;
    margin: 20px;
}
div {
    border: 2px solid crimson;
    margin: 20px;
}
p.error {
    color: red;
}
p.success {
    color: #66971c;
}
p.success.feedback {
    border: 1px dashed #66971c;
}
div#content {
    background-color: #ebebeb;
    padding: 20px;

} */

/* Parent: div. Find any attributes with class="error*/
div .error {
    color: purple;
}
/* Find div element with class="error"*/
div.error {
    color: orange;
}